-e git+https://github.com/open-telemetry/opentelemetry-python.git@937863f8294d6347e131eaaedbc1b877598b13d9#egg=venv-opentelemetry-api&subdirectory=opentelemetry-api
-e git+https://github.com/open-telemetry/opentelemetry-python.git@937863f8294d6347e131eaaedbc1b877598b13d9#egg=venv-opentelemetry-sdk&subdirectory=opentelemetry-sdk
-e git+https://github.com/open-telemetry/opentelemetry-python.git@937863f8294d6347e131eaaedbc1b877598b13d9#egg=venv-opentelemetry-tests&subdirectory=tests/util
